.small-box {
  height: 120px;
}
.progress-bar{
  background-color:#3c763d
}
#flex {
  display:flex;
}
#inline label{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#inline .form-group{
  display: table-row;
}
