:root {
  --color-letranosel: #91A185;
  --color-letrasel: #FFFFD8;
  --color-nosel: #E3E1B1;
  --color-sisel: #E8D79C;
  --color-bordernosel: #D9D7A9;
  --color-bordersisel: #D9C991;
}
#head_style .form-group {
  margin-bottom: 8.5px;
}
#head_style .radio-group-buttons .btn {
  background-color: var(--color-nosel) !important;
  color: var(--color-letranosel) !important;
  border-color: var(--color-bordernosel) !important;
}
#head_style .radio-group-buttons .btn.active,
.radio-group-buttons .btn:active,
.radio-group-buttons .btn:focus {
  background-color: var(--color-sisel) !important;
  color: var(--color-letrasel) !important;
  border-color: var(--color-bordersisel) !important;
}

#head_style .btn-dropdown-input .btn-primary {
  background-color: var(--color-nosel);
  color: var(--color-letranosel) !important;
  border-color: var(--color-bordersisel);
}
#head_style .btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open>.btn-primary.dropdown-toggle:hover,
.open>.btn-primary.dropdown-toggle:focus,
.open>.btn-primary.dropdown-toggle.focus {
  background-color: var(--color-sisel) !important;
  color: var(--color-letrasel) !important;
  border-color: var(--color-bordersisel) !important;
}

.bootstrap-select > .btn-primary {
  background-color: var(--color-nosel) !important;
  color: var(--color-letranosel) !important;
  border-color: var(--color-bordersisel) !important;
}
.btn-primary:active, .btn-primary.active, .open>.btn-primary.dropdown-toggle {
  background-color: var(--color-sisel) !important;
  color: var(--color-letrasel) !important;
  border-color: var(--color-bordersisel) !important;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  background-color: var(--color-sisel) !important;
}

.sidebar-menu .fa-circle-info {
  color: #C2C7D0;
}
.fa-circle-info {
  color: cadetblue;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
  /*color: darkseagreen;*/
  color: #6FB58F;
}
.carousel-indicators {
  bottom: -50px !important;
}
a.carousel-control.left:focus {
  outline: transparent 0px;
  background-image: linear-gradient(to left, transparent 0px, rgba(0,0,0,0.1) 100%);
  box-shadow: 0px 0px 0px 1px transparent;
}
a.carousel-control.right:focus {
  outline: transparent 0px;
  background-image: linear-gradient(to right, transparent 0px, rgba(0,0,0,0.1) 100%);
  box-shadow: 0px 0px 0px 1px transparent;
}

#accordion .panel-title{
  font-size: 1.5em;
}
#accordion .panel-collapse .panel-body{
  font-size: 1.2em;
}

#logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#logo > a:hover {
  background-color: transparent !important;
  color: transparent !important;
}

.small-box {
  height: 120px;
}

.progress-bar {
  background-color:#6FB58F !important;
}

#flex {
  display:flex;
}
#inline label {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#inline .form-group {
  display: table-row;
}

/* Estilos para el contenedor principal del accordion */
#accordion .panel-group {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* Estilos para el encabezado de cada append */
#accordion .panel-heading a {
  font-size: 1.1em; /* Agrandar la letra */
  font-weight: bold; /* Texto en negrita */
  display: block; /* Asegura que el enlace ocupe todo el ancho */
  padding: 10px 15px; /* Espaciado interno */
  background-color: #f0f0f0; /* Color de fondo del encabezado */
  color: #333; /* Color del texto del encabezado */
  text-decoration: none; /* Eliminar subrayado del enlace */
  border-bottom: 1px solid #ddd; /* Borde inferior del encabezado */
}

/* Estilos para el encabezado cuando está activo (abierto) */
#accordion .panel-heading a[aria-expanded='true'] {
  background-color: #e0e0e0; /* Un tono ligeramente más oscuro al abrir */
}

/* Estilos para el cuerpo (contenido) de cada append */
#accordion .panel-collapse .panel-body {
  padding: 15px;
  border-top: 1px solid #ddd; /* Borde superior del contenido */
}

/* Estilos para las listas dentro del contenido */
#accordion .panel-body ul {
  list-style-type: disc; /* Estilo de los puntos de la lista */
  padding-left: 20px;
}

#accordion .panel-body li {
  margin-bottom: 5px;
  font-size: 1em; /* Tamaño de letra de los items de la lista */
}
